!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http:{equiv:{Content:{:Type}}}/
    %meta{charset: UTF:{:8}}/
    %title Chatspace
    %link{href:"application.scss", rel: "stylesheets"}/
    %link{crossorigin: "“anonymous”", href:{https:{//maxcdn.bootstrapcdn.com/font:{awesome/4.7.0/css/font:{:awesome.min.css/, integrity:"“sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN”", rel:"“stylesheet”"}}}}}/
  %body
    / 画面左側
    .chat-side
      .chat-side__user
        .chat-side__name user-name
        %a.chat-side__user--new-group{href:"/groups/new"}
          %i.chat-side--fa.fa.fa-pencil-square-o.fa-small
        %a.chat-side__user--edit-user{href: "users/edit"}
          %i.chat-side--fa.fa.fa-cog.fa-small
        .chat-side__groups
      .chat-side__group
        .chat-side__group__chat
          aaaa
          %br/
          %h1 ggg
    / 画面右側
    .main-side
      .main-side__header
        .main-side__header--group.clearfix
          %p aaaa
        %a.main-side__header--group--edit-btn{href:"/groups/edit"} edit
        .main-side__body
          .main-side__header--members MEMBERS:zume1019
          .main-side__body__message-list
            .main-side__body__message.clearfix
              .main-side__message-name 太郎
              .main-side__message-time 2017/9/11 14:46:54
              .main-side__message-body あああああ
        .main-side__footer
  %form#new_message.main-side__footer-form{accept:{charset:"UTF-8", action:"/groups/584/messages", enctype:"multipart/"form:{:data, method:"post"}}}
            .main-side__footer-body
              %input#message_body.message{name:"message[body]", placeholder:"type a message", type:"text"}/
              %label.chat-file{for:"message_image"}
                %input#message_image.image{name:"message[image]", type:"file"}/
                %i.fa.fa-file-image-o.fa-small
            %input.submit{data:{disable:{with:"Send",name:"commit",type:"submit", value:"Send"}}}}/
