.chat-side__groups
  .chat-side__group
    .chat-side__group__chat
    - @groups.each do |grp|
      .chat-side__group__name
        =link_to group_messages_path(grp.id) do
          =grp.name
        .chat-side__group__name__chat
          =grp.side_bar_message
