.chat-side
  .chat-side__user
    .chat-side__name user-name
    =link_to new_group_path, class: "chat-side__user--new-group" do
      %i.chat-side--fa.fa.fa-pencil-square-o.fa-small
    =link_to edit_user_path(current_user), class: "hat-side__user--edit-user" do
      %i.chat-side--fa.fa.fa-cog.fa-small
    .chat-side__groups
  .chat-side__group
    .chat-side__group__chat
    - current_user.groups.each do |grp|
      .chat-side__group__name
        = grp.name

/ 画面右側
.main-side
  .main-side__header
    .main-side__header--group
      %p aaaa
    =link_to edit_group_path, class: "a.main-side__header--group--edit-btn" do
    .main-side__body
      .main-side__header--members MEMBERS:zume1019
      .main-side__body__message-list
        .main-side__body__message.clearfix
          .main-side__message-name 太郎
          .main-side__message-time 2017/9/11 14:46:54
          .main-side__message-body あああああ
    .main-side__footer
      %form#new_message.main-side__footer-form{accept:{charset: "UTF-8"}, action: "/groups/584/messages", enctype: "multipart/form-data", method: "post"}
        .main-side__footer-body
          %input#message_body.message{name:"message[body]", placeholder: "type a message", type: "text"}/
          %label.chat-file{for: "message_image"}
            %input#message_image.image{name: "message[image]", type: "file"}/
            %i.fa.fa-file-image-o.fa-small
        %input.submit{data:{disable:{with: "Send"}}, name: "commit", type: "submit", value: "Send"}/

